.paginationContainer {
  text-align: center;
}

.button {
  margin: 0 5px;
}

.activeButton {
  background-color: blue;
  color: white
}

.inactiveButton {
  background-color: white;
}

.select {
  margin: 10px;
}

.input {
  margin: 10px;
}
